<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="/static/images/storetohome.png">
  <link rel="stylesheet" href="{{url_for('static', filename='desmeush.css')}}"/>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-218798712-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-218798712-1');
</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='navbar.css')}}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <title>StoreToHome</title>
</head>

<body style="background-color:#cf9904;">
  <nav class="desmeush"><p> Δέσμευση 10ετίας για μηδενικό κόστος καταχώρησης ακινήτων </p></nav>

 <div class="header">
 <img src="/static/images/storetohome.png" alt="store to home" width="15%" >
 {% if current_user.is_authenticated %}
    <div class="home">
      
      <div class="btn-group">
        <button type="button" class="btn"><a href="/myAccount"><ion-icon name="home" id = "io"></ion-icon></a></button>
        <button type="button" class="btn dropdown-toggle btn-lg" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href="/userads">Οι αγγελίες μου</a></li>
          <li><a href="/notifications">Ειδοποιήσεις</a></li>
          <li><a href="/cal">Ραντεβού</a></li>
          <li><a href="/logout">Αποσύνδεση</a></li>
        </ul>
      </div>
    </div>
    {% endif %}
  <h2 style="color:black;">STORE TO HOME </h2>
 </div>
 <div class="navbar">
  <a href="/">ΑΡΧΙΚΗ</a>
  <a href="/aggelies/1">ΑΚΙΝΗΤΑ</a>
  <a href="/FAQ">FAQ</a>
  <a href="/team" >ABOUT US</a>
  <a href="/contact_form">ΕΠΙΚΟΙΝΩΝΙΑ</a>
  <a class="active" href="/add">ΚΑΤΑΧΩΡΗΣΗ ΑΓΓΕΛΙΑΣ</a>
</div>
{% if current_user.username == adv.username %}
{% if ad.status == 'Pending' %}
    <div>
        <h3>Ενδιαφέρεστε να αναλάβετε την αγγελία με κωδικό #{{ad.code}} για τον/την κ. {{ad.firstname}} {{ad.lastname}};</h3>
        <div>
            <form action="" method="POST">
                <select id="status" name="status">
                    {{message}}
                    <option value="1" selected id="accept" ><h4>Θα επικοινωνήσω</h4></option>
                    <option value="0" id = "deny"><h2>Δεν θα επικοινωνήσω</h2></option>
                    </select>
                <button class="btn btn-default" type="submit"> Παρακαλώ απαντήστε </button>
            </form>
        </div>   
    </div>
{% else %}
<h3>Έχετε απαντήσει ότι θα βρεθείτε με τον ενδιαφερόμενο.</h3>
{% endif %}
{% else %}
<center>
<h3>Η αγγελία είναι κλειδωμένη!</h3>
</center>
{% endif %}

<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

</body>
</html>
