<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="/static/images/storetohome.png">
  <!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-218798712-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-218798712-1');
</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='perigrafh.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='navbar.css')}}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">


    <title>StoreToHome</title>
</head>

<body style="background-color:#cf9904;">
  <div class="header">
   <div class="top">
     <img src="/static/images/storetohome.png" alt="store to home" width="15%" >
     {% if current_user.is_authenticated %}
     <div class="home">
       
       <div class="btn-group">
        <button type="button" class="btn"><a href="/myAccount"><ion-icon name="home" id = "io"></ion-icon></a></button>
        <button type="button" class="btn dropdown-toggle btn-lg" data-toggle="dropdown">
           <span class="caret"></span>
         </button>
         <ul class="dropdown-menu dropdown-menu-right" role="menu" id = "menu">
           <li><a href="/userads">Οι αγγελίες μου</a></li>
           <li><a href="/notifications">Ειδοποιήσεις</a></li>
           <li><a href="/cal">Ραντεβού</a></li>
           <li><a href="/logout">Αποσύνδεση</a></li>
         </ul>
       </div>
     </div>
     {% endif %}
   </div>
  <h2 style="color:black;">STORE TO HOME </h2>
 </div>
 <div class="navbar">
  <a href="/">ΑΡΧΙΚΗ</a>
  <a href="/aggelies/1">ΑΚΙΝΗΤΑ</a>
  <a href="/FAQ">FAQ</a>
  <a href="/team" >ABOUT US</a>
  <a href="/contact_form">ΕΠΙΚΟΙΝΩΝΙΑ</a>
  <a class="active" href="/add">ΚΑΤΑΧΩΡΗΣΗ ΑΓΓΕΛΙΑΣ</a>
</div>
<div class="container-fluid">
  {% for ad in total_ads %}
  <div class="row" style="margin:20px;background-color:rgb(255, 255, 255);padding: 40px;">
      <center>  
        <div class="secrow" style="width: 100%;">
          <img src="https://storetohome.s3.eu-central-1.amazonaws.com/{{ad.pic}}" >
        <div class="col" style="width:100%;" >
          <h3>{{ad.title}}</h3>
          <h4>{{ad.address}}</h4>
          <p class="round2" style="margin:20px;font-size: 20px;"> Κωδικός ακινήτου #{{ ad.code }}</p>
          <h3>{{ ad.price }}€ &nbsp;&nbsp;&nbsp;{{ad.emvado}} τ.μ.&nbsp;&nbsp;&nbsp;{{ad.tmprice}}€/τ.μ&nbsp;&nbsp;&nbsp;{{ad.category}}</h3>
          <button class="button button1"><a href="/edit/{{ad.code}}">Επεξεργασία</a></button>
        </div>
      </div>
        </center>
  </div>
  {% endfor %}
</div>


  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>
