
.desmeush{
    background-color: black;
    height: 45px;
    padding: 5px;
    margin: 0px;
}

.desmeush p{
    text-align: center;
    color: white;
    margin: 5px;
    font-size: 15px;
    background-color: black;
    
    
}