<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/static/images/storetohome.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='mailnot.css')}}"/>
    <title>StoreToHome</title>
</head>
<body style="background-color:#cf9904;">
    <button class="button button1"><b><a href="/" style="text-decoration: none;color:white;">Πίσω στην αρχική</a></button>
        <center>
            <h2>✅ Το μήνυμα σου στάλθηκε! </h2>
        </center>
</body>
</html>